#!/usr/bin/env xdg-open
[Desktop Entry]
Name=Netctl GUI
Comment=Qt graphical user interface for netctl
Exec=netctl-gui
Icon=netctl-gui.png
Terminal=false
Encoding=UTF-8
Type=Application
Categories=Network
