# Compiled Object files
*.slo
*.lo
*.o

# Compiled Dynamic libraries
*.so
*.dylib

# Compiled Static libraries
*.lai
*.la
*.a

# Source archive
*.tar.xz
*.tar.gz
*.sig

# Build directory
build/
tmp/
usr/

# translations
*.qm

# temporary bckps
*~

# kdevelop files
.kdev4
*.kdev4
