# Compiled Object files
*.slo
*.lo
*.o

# Compiled Dynamic libraries
*.so
*.dylib

# Compiled Static libraries
*.lai
*.la
*.a

# Source archive
*.tar.xz
*.tar.gz

# Build directory
build/
sources/build/
tmp/

# translations
*.qm

