[submodule "sources/3rdparty/task"]
	path = sources/3rdparty/task
	url = https://github.com/qtadds-task.git
[submodule "sources/3rdparty/tasks"]
	path = sources/3rdparty/tasks
	url = https://github.com/mhogomchungu/tasks.git
[submodule "sources/3rdparty/language"]
	path = sources/3rdparty/language
	url = https://github.com/qtadds-language.git
[submodule "sources/3rdparty/pdebug"]
	path = sources/3rdparty/pdebug
	url = https://github.com/qtadds-pdebug.git
