[Unit]
Description=netctlgui-helper daemon
Documentation=man:netctlgui-helper(1) man:netctl-gui.conf(5)

[Service]
Type=dbus
BusName=org.netctlgui.helper
ExecStart=/usr/bin/netctlgui-helper --nodaemon --system

[Install]
WantedBy=multi-user.target
