[Unit]
Description=netctlgui-helper daemon

[Service]
Type=forking
ExecStart=/usr/bin/netctlgui-helper --system

[Install]
WantedBy=multi-user.target
